@media only screen and (max-width: 800px) {

	*
	{
		overflow: hidden;
	}

	/*.fa fa-chevron-circle-right fa-4x rightnav {

		display: none;
	}*/

	#right-event 
	{
		display: flex;
	    position: inherit;
	    height: 70%;
	    width: 100%;
	    background-color: #DD314B;
	    top: -4%;
	}

	#left-event 
	{
		display: flex;
	    position: relative;
	    height: 40%;
	    width: 100%;
	    background-color: white;
	    font-family: 'catlog';
	    top: -4%;
	}

	#event-desc {
   
    font-size: 0.66em;
    margin: 2% auto;
   
}	

	#poc, #team-size {
		font-size: 1em; 
	}

	#cat-desc 
	{
    position: absolute;
    text-align: center;
    font-size: 0.66em;
    margin-top: 16%;
    height: 60%;
    width: 100%;
    font-family: 'Questrial', sans-serif;
	}

	.title-c
	{
    text-align: center;
    position: absolute;
    font-size: 1.5em;
    margin: 2% auto;
    width: 100%;
    color: #dee6bf;
	}

	#lnav, #rnav, #unav, #dnav 
	{
       display: none;
    }
	
	#lnav1, #rnav1, #lnav2, #rnav2 {
		display: block;
	}

	#lnav1{
		top: 13%;
		left: 12%;
		position: fixed;
	}
	#rnav1{
		bottom: 18%;
		left: 79%;
		display: fixed;
	}

	#lnav2 {
		left: -8%;
		top: 20%;
	}
	#rnav2 {
		right: -8%;
		top: 20%;
	}
    .close
    {
    	padding-left: 7em;
    	padding-top: 1.2em;
    }

    .events-name 
    {
    position: fixed;
    bottom: 5%;
    height: 18%;
    width: 80%;
    background-color: #F15F63;
	}

	#event-name {
    text-align: center;
    position: absolute;
    font-size: 2em;
    margin: 12% 10%;
    width: 80%;
    color: #dee6bf;
}
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (max-width: 360px) {

.close
    {
    	padding-left: 5em;
    	padding-top: 1.2em;
    }
<<<<<<< HEAD
=======

    #lnav2 {
		left: -10%;
		top: 20%;
	}
	#rnav2 {
		right: -10%;
		top: 20%;
	}
>>>>>>> b2d7d88f5bbe996484f86f9af488af5cff39b164
}


@media only screen and (max-width: 320px) {
	.close
	{
    	padding-left: 6em;
    	padding-top: 1em;
    }


    #lnav1{
		top: 18%;
		left: 2%;
	}

	#rnav1{
		bottom: 12%;
		left: 77%;
	}
<<<<<<< HEAD
=======
	#lnav2 {
		left: -8%;
		top: 20%;
	}
	#rnav2 {
		right: -8%;
		top: 20%;
	}
>>>>>>> b2d7d88f5bbe996484f86f9af488af5cff39b164

}


@media only screen and (max-width: 414px) {
	.close
    {
    	padding-left: 7em;
<<<<<<< HEAD
    	/*padding-top: 1.4em;*/
    	margin-top: -30px;
=======
    	padding-top: 1.4em;
>>>>>>> b2d7d88f5bbe996484f86f9af488af5cff39b164
    }

    #lnav1{
		top: 16%;
		left: 14%;
	}

<<<<<<< HEAD
=======
	#lnav2 {
		left: -8%;
		top: 20%;
	}
	#rnav2 {
		right: -8%;
		top: 20%;
	}

>>>>>>> b2d7d88f5bbe996484f86f9af488af5cff39b164
}


@media only screen and (max-width: 412px) {
	.close
    {
    	padding-left: 6em;
    	padding-top: 1.4em;
    }

    #lnav1{
		top: 13%;
		left: 12%;
	}

<<<<<<< HEAD
=======
	#lnav2 {
		left: -8%;
		top: 20%;
	}
	#rnav2 {
		right: -8%;
		top: 20%;
	}
>>>>>>> b2d7d88f5bbe996484f86f9af488af5cff39b164
}